/* universal selector - removes default margin and padding from everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* applies to <body> */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }

  /* applies to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
  }

  /* applies to <h1> elements in the <header> */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* applies to <a> elements in the <header> */
header a {
    text-decoration: none;
    color:#fce138
}

/* applies to <nav> elements in the <header> */
header nav {
    float: right;
    margin: 7px 0;
}

/* applies to <li> elements, in <ul>, in <nav>, in the <header> */
header nav ul li {
    display: inline;
}

/* applies to <a> elements, in <li>, in <ul>, in <nav>, in the <header> */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* applies to <footer> */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* applies to <h2> element in <footer>*/
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* applies to <div> element in <footer> */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* applies to <a> element in <footer> */
footer a {
    color: #024e76;
}

/* applies to <section> elements */
section {
    padding: 60px;
}

/* hero style start */
.hero {
    background-image: url("assets/images/hero-bg.jpeg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    border: solid 3px #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    color: #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}


.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/* hero style end */